<div id="welcome-content" class="container">
  <div id="headers">
    <h1><%= t("homepage.main_header") %></h1>
    <h4><%= t("homepage.subheader") %></h4>
  </div>
  <p class="btn btn-primary"><%= t("homepage.register") %></p>
</div>
