// Place all the styles related to the Fights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fighter {
  position: relative;
  width: 25%;
}

#available-fighters-table {
  width: 35%;
}

#available-opponents-table {
  margin-top: 0;
}

#fight-new {
  position: absolute;
  bottom: 30%;
  left: 45%;

  h2 {
    margin: 0 0 100px 10px;
  }
}
